<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns="http://www.zkoss.org/2005/zul">
<window id="winReport" width="80%"   height="600px" 
        title="REPORTES" border="normal" 
        mode="popup"   closable="true"
        apply="com.marjuv.controller.win.Crear_ReporteUbicacion_Expediente">

        <borderlayout height="100%">    
                <center border="none" flex="true">
                        <iframe id="report" />
                </center>    
        </borderlayout>
</window>
</zk>
