<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns="http://www.zkoss.org/2005/zul" xmlns:h="xhtml">

    <style>
        #columna1_2{
        position: absolute;
        right: 17%;
        top: 12%;
        }
        #columna1_1{
        margin-top: 13px;
        }
        #columna2{
        margin-top: 10px;
        }
        #columna3{
        margin-top: 10px;
        }
        #columna4{
        margin-top: 10px;
        }
        #columna5{
        margin-top: 10px;
        }
        #columna6{
        margin-top: 10px;
        }
        #columna7{
        margin-top: 10px;
        }
        #columna8{
        margin-top: 10px;
        }
        .columna{
        margin-top: 10px;
        }
        .text-column{
        font-family: Arial;
        font-weight: bold;
        margin-right: 10px;
        margin-left: 13px;
        }
        #colCargo, #colRepre, #colRepre2{
        margin-top: 15px;
        margin-bottom: 13px;
        }
        #colDependencia{
        margin-top: 10px;
        margin-bottom: 13px;
        }
        .columnContClass{
        margin-left: 2%;
        margin-bottom: 10px;
        }
        .titulo{
        color: #323133;
        font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
        letter-spacing: -1px;
        text-decoration: none; 
        text-shadow: 1px 1px #fff, 0 0 #0e0e0e, 2px 3px 1px #e3e3e3; 
        text-transform: none; 
        word-spacing: -2px;
        }
    </style>
    <separator></separator>
    <window id="expediente_win" width="90%" height="auto" apply="org.zkoss.bind.BindComposer"  
            viewModel="@id('vm') @init('com.marjuv.controller.win.expediente_win')" position="center"  style="padding: 0px;margin: 0 auto;" >
        <h:div>
            <h:p id="titulo_gestionar_expediente">
                <h:h3 style="text-align: center;font-family: Arial;" class="titulo" >Gestionar Expediente</h:h3>
            </h:p>
        </h:div>
        <tabbox id="tb" height="auto">
            <tabs id="tabs">
                <tab id="paso_1" label="Datos Generales" style="font-size: 14px" />
                <tab id="paso_2" label="Remitente" style="font-size: 14px" />
                <tab id="paso_3" label="Destinatario" style="font-size: 14px" />
            </tabs>
            <tabpanels id="panels_expe">
                <tabpanel id="tbl_dat">
                    <h:table>
                        <h:tr>
                            <h:th style="width: 28%"></h:th>
                            <h:th style="width: 26%"></h:th>
                            <h:th style="width: 25%"></h:th>
                            <h:th style="width: 25%"></h:th>
                        </h:tr>
                        <h:tr>
                            <h:td>
                                <label value="Fecha de registro: " style="font-family: Arial;font-weight: bold; margin-right: 10px;margin-left: 13px;" />
                                <textbox mold="rounded" id="fech_expe" value=""  cols="10" readonly="true"/>
                            </h:td>
                            <h:td>
                                <label value="Usuario: " style="font-family: Arial;font-weight: bold; margin-right: 10px;margin-left: 13px;" />
                                <textbox mold="rounded" id="codi_usua" value=""  cols="10" readonly="true" style="margin-left: 40px;" />
                            </h:td>
                            <h:td colspan="2">
                                <label value="Fecha de caducidad: " style="font-family: Arial;font-weight: bold; margin-right: 10px;margin-left: 13px;" />
                                <textbox mold="rounded" id="feca_expe" value=""  cols="10" readonly="true" style="margin-left: 31px;"/>
                            </h:td>
                        </h:tr>
                        <h:tr>
                            <h:td>
                                <h:br></h:br>
                            </h:td>
                        </h:tr>
                        <h:tr>
                            <h:td>
                                <label value="Tipo Doc.: "  style="font-family: Arial;font-weight: bold; margin-right: 38px;margin-left: 13px;" />
                                <combobox mold="rounded" id="codi_tiex" onChange="@command('updateInputNumDoc')" ctrlKeys="^a#f8" model="@load(vm.listTipoDocumento)" autodrop="true"  width="200px" readonly="true" disabled="true"
                                          selectedItem="@bind(vm.curTipoDocumento)" focus="true" style="margin-left: 18px;">
                                    <attribute name="onOK">
                                            <![CDATA[
                                            nudo_expe.focus();
                                            ]]>
                                    </attribute>
                                    <template name="model" var="h">
                                        <comboitem value="${h.x}" label="${h.y}" />
                                    </template>
                                </combobox>
                            </h:td>
                            <h:td>
                                <label value="Número: " style="font-family: Arial;font-weight: bold; margin-right: 10px;margin-left: 13px;" />
                                <textbox mold="rounded" placeholder="Ingrese el N° Doc" id="nudo_expe" ctrlKeys="^a#f8" value="" width="150px" readonly="true" onChange="self.setValue(self.getValue().toUpperCase().trim());" >
                                    <attribute name="onOK">
                                            <![CDATA[
                                            refe_expe.focus();
                                            ]]>
                                    </attribute>
                                </textbox>
                            </h:td>
                            <h:td colspan="3">
                                <label value="Expediente Adj: " style="font-family: Arial;font-weight: bold; margin-right: 10px;margin-left: 13px;" />
                                <button id="btnVerExp" image="/images/search2.png" label="Buscar" onClick="@command('adjuntar_expediente')" disabled="true" mold="trendy" style="width: 78px;margin-right: 10px;" />
                                <textbox mold="rounded" placeholder="Exp Adj." id="txtExpAdj" value="" width="250px" readonly="true" onChange="self.setValue(self.getValue().toUpperCase().trim());" ></textbox>
                            </h:td>
                        </h:tr>
                        <h:tr>
                            <h:td>
                                <h:br></h:br>
                            </h:td>
                        </h:tr>
                        <h:tr>
                            <h:td>
                                <label value="Asunto: " style="font-family: Arial;font-weight: bold; margin-right: 50px;margin-left: 13px;" />
                                <combobox mold="rounded" style="margin-left: 18px;" id="codi_asex" ctrlKeys="^a#f8" model="@load(vm.listAsuntoExpediente)"  autodrop="true"  width="90px" readonly="true" disabled="true"
                                          selectedItem="@bind(vm.curAsuntoExpediente)">
                                    <attribute name="onOK">
                                            <![CDATA[
                                            codi_proc.focus();
                                            ]]>
                                    </attribute>
                                    <template name="model" var="h">
                                        <comboitem value="${h.x}" label="${h.y}" />
                                    </template>
                                </combobox>
                                
                            </h:td>
                            <h:td colspan="2">
                                <label value="Procedimiento: " style="font-family: Arial;font-weight: bold; margin-right: 10px;margin-left: 13px;" />
                                <button id="btnAddProc" image="/images/search2.png" label="Buscar" onClick="@command('openProc2')" disabled="true" mold="trendy" style="width: 78px;" />
                                <button id="btn_proc" image="/images/devolver.png" label="Requisitos" mold="trendy" onClick="@command('openProc')" disabled="true" style="margin-left: 10px;"/>
                            </h:td>
                        </h:tr>
                        <h:tr>
                            <h:td>
                                <h:br></h:br>
                            </h:td>
                        </h:tr>
                        <h:tr>
                            <h:td>
                                <label value="Codigo proc.: " style="font-family: Arial;font-weight: bold; margin-right: 16px;margin-left: 13px;" />
                                <textbox mold="rounded" id="codi_proc" value="" style="margin-left: 20px;" readonly="true" />
                            </h:td>
                            <h:td colspan="3">
                                <label value="Nombre proc.: " style="font-family: Arial;font-weight: bold; margin-right: 10px;margin-left: 13px;" />
                                <textbox mold="rounded" id="nomb_proc" value="" rows="4" readonly="true" style="width: 500px;font-size: 10px;" />
                            </h:td>
                        </h:tr>
                        <h:tr>
                            <h:td>
                                <h:br></h:br>
                            </h:td>
                        </h:tr>
                        <h:tr>
                            <h:td>
                                <label value="Recibo: " style="font-family: Arial;font-weight: bold; margin-right: 50px;margin-left: 13px;" />
                                <textbox mold="rounded" style="margin-left: 17px;" id="reci_expe" value="" readonly="true" placeholder="Ingrese el N° de Recibo" />
                            </h:td>
                            <h:td colspan="3">
                                <label value="Folios: " style="font-family: Arial;font-weight: bold; margin-right: 58px;margin-left: 13px;" />
                                <textbox mold="rounded" placeholder="Ingrese el N° Folios" id="nufo_expe" ctrlKeys="^a#f8" value="" style="width: 120px;" readonly="true" >
                                    <attribute name="onOK">
                                            <![CDATA[
                                            espe_expe.focus();
                                            ]]>
                                    </attribute>
                                </textbox>
                                <label value="Costo:  " style="font-family: Arial;font-weight: bold; margin-right: 10px;margin-left: 13px;" />
                                <textbox mold="rounded" id="cost_proc" value="" cols="7" readonly="true" />
                                <label value="Ingreso  " style="font-family: Arial;font-weight: bold; margin-right: 10px;margin-left: 13px;" />
                                <textbox mold="rounded" id="valx_expe" value="" cols="10" style="width: 100px;" readonly="true" />
                                <label value="Dias Hábiles: " style="font-family: Arial;font-weight: bold; margin-right: 10px;margin-left: 13px;" />
                                <textbox mold="rounded" id="txtDias" value="" style="width: 100px;" readonly="true" />
                            </h:td>
                        </h:tr>
                        <h:tr>
                            <h:td>
                                <h:br></h:br>
                            </h:td>
                        </h:tr>
                        <h:tr>
                            <h:td>
                                <label value="Especificaciones: " style="font-family: Arial;font-weight: bold; margin-right: 32px;margin-left: 13px;" />
                                <textbox mold="rounded" placeholder="Ingrese un Especificación (Opcional)" id="espe_expe" style="margin-top: 5px;margin-left: 13px;width: 308px;" ctrlKeys="^a#f8"  value="" cols="57"  rows = "4" readonly="true" onChange="self.setValue(self.getValue().toUpperCase().trim());" />
                            </h:td>
                            <h:td colspan="3">
                                <label value="Número de expediente " style="font-family: Arial;font-weight: bold; margin-right: 10px;margin-left: 13px;"/>
                                <textbox mold="rounded" id="nume_expe" value=""  cols="20" readonly="true" style="width: 240px; font-size: 24px; font-weight: bold; text-align: center; color: blue;"/>
                            </h:td>
                        </h:tr>
                    </h:table>
                </tabpanel>
                <tabpanel id="tbl_rem" >
                    <h:div id="headTipoRemitente" style="width: 41%;margin: 0 auto">
                        
                        <h:fieldset style="font-family: Arial;font-size: 14px;font-weight: bold;">
                            <h:legend>Tipo remitente</h:legend>
                            <radiogroup id="tipo_remitente" />
                        
                            <radio id="re0" label="Municipalidad de Hualmay" radiogroup="tipo_remitente" selected="true" onClick="@command('changeRemitente')" disabled="true" />
                            <radio id="re1" label="Natural" radiogroup="tipo_remitente" onClick="@command('changeRemitente')" disabled="true" />
                            <radio id="re2" label="Jurídica" radiogroup="tipo_remitente" disabled="true" onClick="@command('changeRemitente')" />
                        </h:fieldset>
                    </h:div>
                    <separator />
                    <grid id="muni_grid" sclass="fgrid" visible="true">
                        <rows >
                            <row style="background: white;" >
                                <h:div id="contenedorMunicipalidad" style="width: 70%;margin: auto;">
                                    <h:fieldset style="font-family: Arial;font-size: 14px;font-weight: bold;">
                                        <h:legend>Seleccionar:</h:legend>
                                        <h:table>
                                            <h:tr>
                                                <h:th></h:th>
                                                <h:th></h:th>
                                                <h:th></h:th>
                                            </h:tr>
                                            <h:tr>
                                                <h:td>
                                                    <label value="Dependencia: " style="margin-right: 15px;" />
                                                </h:td>
                                                <h:td>
                                                    <combobox mold="rounded" id="codi_depe_muni" onChange="@command('updateCargo')" model="@load(vm.listDependencia)" autodrop="true"  width="300px" readonly="true" disabled="true"
                                                              selectedItem="@bind(vm.curDependencia)">
                                               
                                                        <template name="model" var="h">
                                                            <comboitem value="${h.x}" label="${h.y}" />
                                                        </template>
                                                    </combobox>
                                                </h:td>
                                                <h:td></h:td>
                                            </h:tr>
                                            <h:tr>
                                                <h:td>
                                                    <label value="Cargo: " style="margin-right: 54px;"/>
                                                </h:td>
                                                <h:td>
                                                    <combobox mold="rounded" id="codi_carg_muni" onChange="@command('updateRepre')" model="@load(vm.listCargo)" autodrop="true"  width="300px" readonly="true" disabled="true"
                                                              selectedItem="@bind(vm.curCargo)">
                                                        <attribute name="onCreate">
                                                            self.setConstraint("no empty")
                                                        </attribute>
                                                        <template name="model" var="h">
                                                            <comboitem value="${h.x}" label="${h.y}" />
                                                        </template>
                                                    </combobox>
                                                </h:td>
                                                <h:td></h:td>
                                            </h:tr>
                                            <h:tr>
                                                <h:td>
                                                    <label value="Representante: " style="margin-right: 9px;"/>
                                                </h:td>
                                                <h:td>
                                                    <combobox mold="rounded" id="codi_reps_muni" model="@load(vm.list_repre)" autodrop="true"  width="300px" readonly="true" disabled="true"
                                                              selectedItem="@bind(vm.cur_repre)">
                                                        <template name="model" var="h">
                                                            <comboitem value="${h.x}" label="${h.y}" />
                                                        </template>
                                                    </combobox>
                                                </h:td>
                                                <h:td>
                                                    <button  id="btn_repr_new2" label="Nuevo" image="/images/add.png" mold="trendy" onClick="@command('nuevo_representante')" disabled="true" style=""/>
                                                </h:td>
                                            </h:tr>
                                            <!--<h:tr>
                                                <h:td>
                                                    <label value="Usuarios: " style="margin-right: 9px;"/>
                                                </h:td>
                                                <h:td>
                                                    <combobox mold="rounded" id="cboUsuarios" model="@load(vm.listUsuarios)" autodrop="true"  width="300px" readonly="true" disabled="false"
                                                              selectedItem="@bind(vm.curlistUsuarios)">
                                                        <template name="model" var="h">
                                                            <comboitem value="${h.x}" label="${h.y}" />
                                                        </template>
                                                    </combobox>
                                                </h:td>
                                                
                                            </h:tr>-->
                                        </h:table>
                                    </h:fieldset>
                                </h:div>
                            </row>
                        </rows>
                    </grid>
                    <grid id="cont_grid" sclass="fgrid" visible="false">
                       
                        <rows>
                            <row style="background: white;" >
                                <h:div id="contenedorContribuyente" style="width: 61%;margin: 0 auto;">
                                    <h:fieldset style="font-family: Arial;font-size: 14px;font-weight: bold;">
                                        <h:legend>Seleccionar:</h:legend>
                                        <h:table>
                                            <h:tr>
                                                <h:th></h:th>
                                                <h:th></h:th>
                                                <h:th></h:th>
                                                <h:th></h:th>
                                            </h:tr>
                                            <h:tr>
                                                <h:td>
                                                    <label value="Nombre: " style="margin-right: 57px;"/>
                                                </h:td>
                                                <h:td>
                                                    <textbox id="codi_cont" value=""  cols="3" readonly="true" style="text-align: center;margin-right: 5px;width: 12%;" />
                                                    <textbox id="nomb_cont" value="" readonly="true" style="width: 83%;" />
                                                </h:td>
                                                <h:td>
                                                    <button id="btn_cont" image="/images/search2.png" mold="trendy" onClick="@command('searchContribuyente')" disabled="true" style=""/>
                                                </h:td>
                                                <h:td>
                                                    <button id="btn_cont_new" label="Nuevo" image="/images/add.png" mold="trendy" onClick="@command('addContribuyente')" disabled="true" style=""/>
                                                </h:td>
                                            </h:tr>
                                            <h:tr>
                                                <h:td>
                                                    <label value="Dirección: " style="margin-right: 49px;" />
                                                </h:td>
                                                <h:td>
                                                    <textbox id="dire_cont" value=""  cols="57" readonly="true" style="width: 98%" />
                                                </h:td>
                                                <h:td></h:td>
                                                <h:td></h:td>
                                            </h:tr>
                                            <h:tr>
                                                <h:td>
                                                    <label value="Departamento: " style="margin-right: 23px;" />
                                                </h:td>
                                                <h:td>
                                                    <textbox id="regio_cont" value=""  cols="12" readonly="true" style="width: 98%" />
                                                </h:td>
                                                <h:td></h:td>
                                                <h:td></h:td>
                                            </h:tr>
                                            <h:tr>
                                                <h:td>
                                                    <label value="Provincia: " style="margin-right: 50px;" />
                                                </h:td>
                                                <h:td>
                                                    <textbox id="prov_cont" value=""  cols="12" readonly="true" style="width: 98%" />
                                                </h:td>
                                                <h:td></h:td>
                                                <h:td></h:td>
                                            </h:tr>
                                            <h:tr>
                                                <h:td>
                                                    <label value="Distrito: " style="margin-right: 62px;" />
                                                </h:td>
                                                <h:td>
                                                    <textbox id="dist_cont" value=""  cols="12" readonly="true" style="width: 98%" />
                                                </h:td>
                                                <h:td></h:td>
                                                <h:td></h:td>
                                            </h:tr>
                                            <h:tr>
                                                <h:td>
                                                    <label value="Email: " style="margin-right: 68px;" />
                                                </h:td>
                                                <h:td>
                                                    <textbox id="emai_cont" value=""  cols="12" readonly="true" style="width: 98%" />
                                                </h:td>
                                                <h:td></h:td>
                                                <h:td></h:td>
                                            </h:tr>
                                            <h:tr>
                                                <h:td>
                                                    <label value="D.N.I.: " style="margin-right: 69px;" />
                                                </h:td>
                                                <h:td>
                                                    <textbox id="dni_cont" value=""  cols="12" readonly="true" />
                                                </h:td>
                                                <h:td></h:td>
                                                <h:td></h:td>
                                            </h:tr>
                                        </h:table>
                                    </h:fieldset>
                                </h:div>
                            </row>
                        </rows>
                    </grid>
                    <grid id="enti_grid" sclass="fgrid" visible="false">
                       
                        <rows>
                            <row style="background: white;" >
                                <h:div id="contenedorEntidad" style="width: 60%; margin: 0 auto;">
                                    <h:fieldset style="font-family: Arial;font-size: 14px;font-weight: bold;">
                                        <h:legend>Seleccionar:</h:legend>
                                        <h:table>
                                            <h:tr>
                                                <h:th style="width: 10%"></h:th>
                                                <h:th style="width: 47%"></h:th>
                                                <h:th></h:th>
                                                <h:th></h:th>
                                            </h:tr>
                                            <h:tr>
                                                <h:td>
                                                    <label value="Nombre: " style="margin-right: 57px;"/>
                                                </h:td>
                                                <h:td>
                                                    <textbox id="codi_enti" value=""  cols="3" readonly="true" style="text-align: center;margin-right: 5px;" />
                                                    <textbox id="nomb_enti" value=""  cols="40" readonly="true" style="width: 77%"/>
                                                </h:td>
                                                <h:td colspan="2">
                                                    <button id="btn_enti" style="height: 26px; margin-right: 10px;" label="Buscar" image="/images/search2.png" mold="trendy" onClick="@command('searchEntidad')" disabled="true"/>
                                                    <button id="btn_enti_new" label="Nuevo" image="/images/add.png" mold="trendy" onClick="@command('addEntidad')" disabled="true" style=""/>
                                                </h:td>
                                                <h:td>
                                                    
                                                </h:td>
                                            </h:tr>
                                            <h:tr>
                                                <h:td>
                                                    <label value="Dirección: " style="margin-right: 49px;" />
                                                </h:td>
                                                <h:td>
                                                    <textbox id="dire_enti" value=""  cols="57" readonly="true" style="width: 96%" />
                                                </h:td>
                                                <h:td></h:td>
                                                <h:td></h:td>
                                            </h:tr>
                                            <h:tr>
                                                <h:td>
                                                    <label value="Representante: " style="margin-right: 19px;"/>
                                                </h:td>
                                                <h:td>
                                                    <combobox id="codi_reps_enti" model="@load(vm.list_repre2)" autodrop="true"  width="248px" readonly="true" disabled="true"
                                                              selectedItem="@bind(vm.cur_repre2)">
                                                        <template name="model" var="h">
                                                            <comboitem value="${h.x}" label="${h.y}" />
                                                        </template>
                                                    </combobox>
                                                </h:td>
                                                <h:td>
                                                    <button id="btn_repr_new" label="Nuevo" image="/images/add.png" mold="trendy" onClick="@command('nuevo_representante')" disabled="true" style=""/>
                                                </h:td>
                                                <h:td></h:td>
                                            </h:tr>
                                        </h:table>
                                    </h:fieldset>
                                </h:div>
                            </row>
                        </rows>
                    </grid>
                </tabpanel>
                <tabpanel id="tbl_des">
                    <grid>
                        <rows>
                            <row style="background: white;">
                                <hbox>
                                    <button image="/images/add.png" id="btnAgregarDes" label="Agregar" onClick="@command('add_destino')" disabled="true" mold="trendy"></button>                                                             
                                </hbox>
                            </row>
                            <row style="background: white;">
                                <div vflex="max" hflex="max">
                                    <listbox id="lstbox_des" sclass="mylist" hflex="max" model="@load(vm.lst_destino_exp)" nonselectableTags=""
                                             selectedItem="@bind(vm.cur_destino_exp)" style="min-height:300px;" >
                                        <listhead>          
                                            <listheader  label="Entidad" width="200px" />
                                            <listheader  label="Dependencia/Unidad/Área" align="center" width="200px"/>
                                            <listheader  label="Cargo" align="center"  width="90px"/>
                                            <listheader  label="Usuario" width="215px" align="left" />
                                            <listheader  label="Doc." width="100px" align="center"/>
                                            <listheader  label="Acción" width="60px" align="center"/>
                                        </listhead>
                                        <template name="model" var="p1">
                                            <listitem>
                                                <listcell label="@load(p1.nomb_enti)" />
                                                <listcell label="@load(p1.nomb_arde)" />
                                                <listcell label="@load(p1.nomb_carg)" />
                                                <listcell label="@load(p1.nombre_usuario)" />
                                                <listcell>
                                                    <hbox spacing="10px">
                                                        <button label="@load(p1.copias_text)" mold="trendy" onClick="@command('changeCheck')" width="80px" />
                                                    </hbox>
                                                </listcell>
                                                <listcell>
                                                    <hbox spacing="10px">
                                                        <button image="/images/eliminar.png" mold="trendy" onClick="@command('quitar')" />
                                                    </hbox>
                                                </listcell>
                                            </listitem>
                                        </template>
                                    </listbox>
                                </div>
                            </row>
                        </rows>
                    </grid>
                </tabpanel>
            </tabpanels>
        </tabbox>
        <separator />
        <h:div id="footButtons" style="text-align: center;width: 100%;padding-top: 24px;height: 49px;">
            <button id="btnNew" label="Nuevo" image="/images/add.png" onClick="@command('nuevo_expediente')" mold="trendy" style="font-size: 14px;width: 100px;height: 21px;margin-right: 10px;" />
            <button image="/images/edit.png" id="btnEdit" label="Modificar" onClick="@command('modificar_expediente')" mold="trendy" disabled="true" style="font-size: 14px;width: 100px;height: 21px;margin-right: 10px;" />
            <button image="/images/cancelar.png" id="btnCancel" label="Cancelar" onClick="@command('cancelar_expediente')" mold="trendy" disabled="true" style="font-size: 14px;width: 100px;height: 21px;margin-right: 10px;" />
            <button image="/images/ok.png" id="btnSave" label="Guardar" onClick="@command('guardar_expediente')" mold="trendy" disabled="true" style="font-size: 14px;width: 100px;height: 21px;margin-right: 10px;" />
            <button image="/images/search.png" id="btnSearch" label="Buscar" onClick="@command('buscar_expediente')" mold="trendy" style="font-size: 14px;width: 100px;height: 21px;margin-right: 10px;" />
            <button image="/images/binoculars.png" id="btnFUT" label="Visualizar FUT" onClick="@command('ver_expediente')" mold="trendy" disabled="true" style="font-size: 14px;width: 100px;height: 21px;" />
        </h:div>
    </window>
</zk>
