<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns="http://www.zkoss.org/2005/zul">

    
    <window title="Usuarios " border="normal"
            width="100%"  height="auto" apply="org.zkoss.bind.BindComposer"  
            viewModel="@id('vm_usuario_view') @init('com.marjuv.controller.win.usuario_win')" sclass="mymodal" >
        <div>
            <label id="" value="Busqueda:"/>
            <combobox model="@load(vm_usuario_view.listBusqueda)" autodrop="true" readonly="true"   
                      selectedItem="@bind(vm_usuario_view.curBusqueda)" width="250px" height="20px" >
                <template name="model" var="h">
                    <comboitem value="${h.x}" label="${h.y}" />
                </template>
            </combobox>
            
            <textbox instant="true" cols="45" value="@bind(vm_usuario_view.nombre)" onOK="@command('changeFilter')"></textbox>
            <button image="/images/search2.png" mold="trendy" label="Buscar" onClick="@command('changeFilter')"  />
            <button image="/images/add.png" label="Agregar Nuevo" sclass="mybutton blue small bigrounded" mold="trendy"
                    onClick="@command('nuevo_usuario')" />
        </div>
        <separator />
        <listbox sclass="mylist" id="test" model="@load(vm_usuario_view.lst_usuario)" nonselectableTags=""
                 selectedItem="@bind(vm_usuario_view.cur_usuario)" mold="paging" pageSize="8">
            <listhead sizable="true">
                <listheader label="Accion"  align="center" width="300px" style="font-size: 11px"/>
                <listheader label="Codigo" align="center" width="60px" style="font-size: 11px"/>
                <listheader label="Número" align="center" width="100px" style="font-size: 11px"/>
                <listheader label="Nombre(s)" align="center" width="200px" style="font-size: 11px"/>
                <listheader label="Apeliido(s)" align="center" width="200px" style="font-size: 11px"/>
                <listheader label="D.N.I." align="center" width="100px" style="font-size: 11px"/>
                <listheader label="Fecha de registro" align="center" width="150px" style="font-size: 11px"/>
                <listheader label="Nick" width="200px" align="center" style="font-size: 11px"/>
                <listheader label="Nombre de rol" align="center" width="200px" style="font-size: 11px"/>
                <listheader label="Área de dependencia" align="center" width="200px" style="font-size: 11px"/>
                <listheader label="Cargo" width="200px" align="center" style="font-size: 11px"/>
                
            </listhead>
            <template name="model" var="p1">
                <listitem >
                    <listcell>
                        <hbox spacing="10px">
                            <button image="/images/edit.png" label="Editar" mold="trendy" onClick="@command('editThisUSuario')" style="font-size: 10px; width: 80px;" />
                            <button image="/images/key.png" label="Contraseña" mold="trendy" onClick="@command('changeThisUSuario')" style="font-size: 10px; width: 94px;" />
                            <button image="/images/delete.png" label="Eliminar" mold="trendy" onClick="@command('deleteThisUsuario')" style="font-size: 10px; width: 80px;" />
                        </hbox>
                    </listcell>
                    <listcell label="@load(p1.codi_usua)" style="font-size: 11px" />
                    <listcell label="@load(p1.nume_usua)" style="font-size: 11px" />
                    <listcell label="@load(p1.nomb_usua)" style="font-size: 11px" />
                    <listcell label="@load(p1.apel_usua)" style="font-size: 11px" />
                    <listcell label="@load(p1.dni_usua)" style="font-size: 11px" />
                    <listcell label="@load(p1.fere_usua)" style="font-size: 11px" />
                    <listcell label="@load(p1.nick_usua)" style="font-size: 11px" />
                    <listcell label="@load(p1.nomb_rol)" style="font-size: 11px" />
                    <listcell label="@load(p1.nomb_arde)" style="font-size: 11px" />
                    <listcell label="@load(p1.nomb_carg)" style="font-size: 11px" />
                    
                </listitem>
                
            </template>
        </listbox>
    </window>
</zk>
