<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns="http://www.zkoss.org/2005/zul">

   
    <window title="Representantes " border="normal"
            width="100%"  height="auto" apply="org.zkoss.bind.BindComposer"  
            viewModel="@id('vm') @init('com.marjuv.controller.win.representante_win')" sclass="mymodal" style="margin: 0 auto;">
        <div>
            <combobox model="@load(vm.listBusqueda)" autodrop="true" readonly="true"   
                      selectedItem="@bind(vm.curBusqueda)" width="250px">
                <template name="model" var="h">
                    <comboitem value="${h.x}" label="${h.y}" />
                </template>
            </combobox>
            <textbox instant="true" cols="45" value="@bind(vm.nombre)" onOK="@command('changeFilter')"></textbox>
            <button image="/images/search2.png" label="Buscar" mold="trendy" onClick="@command('changeFilter')" />
            <button image="/images/add.png" label="Agregar Nuevo" sclass="mybutton blue small bigrounded" mold="trendy"
                    onClick="@command('nuevo_representante')" />
        </div>
        <separator />
        <listbox sclass="mylist"  model="@load(vm.lst_repre)" nonselectableTags=""
                 selectedItem="@bind(vm.cur_repre)" mold="paging" pageSize="10">
            <listhead sizable="true">
                <listheader label="Accion"  align="center" width="200px"/>
                <listheader label="Codigo" align="center" width="00px"/>
                <listheader label="Nombre(s) y Apellido(s)" align="center" width="300px"/>
                <listheader label="D.N.I. o R.U.C." align="center" width="150px"/>
                <listheader label="Domicilio" align="center" width="300px"/>
                <listheader label="Distrito" align="center" width="200px"/>
                <listheader label="Teléfono" align="center" width="100px"/>
                <listheader label="Celular" align="center" width="100px"/>
                <listheader label="E-mail" align="center" width="200px"/>
                
            </listhead>
            <template name="model" var="p1">
                <listitem >
                     <listcell>
                        <hbox spacing="10px">
                            <button label="Editar" image="/images/edit.png" mold="trendy" onClick="@command('editThisRepre')" style="font-size: 10px; width: 80px;" />
                            <button label="Eliminar" image="/images/delete.png" mold="trendy" onClick="@command('deleteThisRepre')" style="font-size: 10px; width: 80px;" />
                        </hbox>
                    </listcell>
                    <listcell label="@load(p1.codi_reps)" style="font-size: 11px" />
                    <listcell label="@load(p1.noms_reps)" style="font-size: 11px"/>
                    <listcell label="@load(p1.docs_reps)" style="font-size: 11px"/>
                    <listcell label="@load(p1.dire_reps)" style="font-size: 11px"/>
                    <listcell label="@load(p1.nomb_dist)" style="font-size: 11px"/>
                    <listcell label="@load(p1.telf_reps)" style="font-size: 11px"/>
                    <listcell label="@load(p1.celu_reps)" style="font-size: 11px"/>
                    <listcell label="@load(p1.emai_reps)" style="font-size: 11px"/>
                   
                </listitem>
                
            </template>
        </listbox>
    </window>
</zk>
