<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns="http://www.zkoss.org/2005/zul" xmlns:h="xhtml">

    
    <style>
        .error{
        color: red;
        font-style: oblique;
        }
        .titulo{
        color: #323133;
        font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
        letter-spacing: -1px;
        text-decoration: none; 
        text-shadow: 1px 1px #fff, 0 0 #0e0e0e, 2px 3px 1px #e3e3e3; 
        text-transform: none; 
        word-spacing: -2px;
        }
        
    </style>
    <!--<style src="css/styles.css" />-->
    <window id="admin_win" width="630px" height="auto" apply="org.zkoss.bind.BindComposer"
            minimizable="false" maximizable="false" closable="true" position="center"
            viewModel="@id('vm') @init('com.marjuv.controller.win.administracion_win')" 
            form="@id('fx') @load(vm.selectedAdmin) @save(vm.selectedAdmin, before='save') " style="padding: 0px;margin: 0 auto; margin-top:30px;"> 
        <h:div>
            <h:p id="titulo_gestionar_expediente">
                <h:h3 style="text-align: center;font-family: Arial;" class="titulo" >Administración</h:h3>
            </h:p>
        </h:div>
        <panel width="100%">
            <panelchildren style="width:600px">
                <separator />
                <grid width="99.5%">
                    <columns>
                        <column label="" width="180px" />
                        <column label="" />
                    </columns>
                    <rows>
                        <row>
                            <hbox>
                                <label value="Año "  />
                            </hbox> 
                            <textbox value="@bind(fx.year_admi)" constraint="no empty" readonly="true" width="400px" style="font-size:11px;text-align:center;height: 20px;" />
                        </row>
                        <row>
                            <hbox>
                                <label value="Nombre de la entidad "  />
                            </hbox> 
                            <textbox value="@bind(fx.noen_admi)" constraint="no empty" width="400px" style="font-size:11px;text-align:center;height: 20px;" />
                        </row>
                        <row>
                            <hbox>
                                <label value="Dirección de la entidad "  />
                            </hbox> 
                            <textbox value="@bind(fx.dien_admi)" constraint="no empty" width="400px" style="font-size:11px;text-align:center;height: 20px;" />
                        </row>
                        <row>
                            <hbox>
                                <label value="Ciudad "  />
                            </hbox> 
                            <textbox value="@bind(fx.noci_admi)" constraint="no empty" width="400px" style="font-size:11px;text-align:center;height: 20px;" />
                        </row>
                        <row>
                            <hbox>
                                <label value="Teléfono "  />
                            </hbox> 
                            <textbox value="@bind(fx.teen_admi)" constraint="no empty" width="400px" style="font-size:11px;text-align:center;height: 20px;" />
                        </row>
                        <row>
                            <hbox>
                                <label value="E-mail:  "  />
                            </hbox> 
                            <textbox value="@bind(fx.enen_admi)" constraint="no empty" width="400px" style="font-size:11px;text-align:center;height: 20px;" />
                        </row>
                        <row>
                            <hbox>
                                <label value="Nombre del Alcalde"  />
                            </hbox> 
                            <textbox value="@bind(fx.noal_admi)" constraint="no empty" width="400px" style="font-size:11px;text-align:center;height: 20px;" />
                        </row>
                        <row>
                            <hbox>
                                <label value="Nombre del año actual"  />
                            </hbox> 
                            <textbox value="@bind(fx.noaa_admi)" constraint="no empty" width="400px" style="font-size:11px;text-align:center;height: 20px;" />
                        </row>
                        <row>
                            <hbox>
                                <label value="Nombre del gerente"  />
                            </hbox> 
                            <textbox value="@bind(fx.noge_admi)" constraint="no empty" width="400px" style="font-size:11px;text-align:center;height: 20px;" />
                        </row>
                        <row>
                            <hbox>
                                <label value="Nombre de la secretaria general"  />
                            </hbox> 
                            <textbox value="@bind(fx.nose_admi)" constraint="no empty" width="400px" style="font-size:11px;text-align:center;height: 20px;" />
                        </row>
                        <row>
                            <hbox>
                                <label value="Valor de la U.I.T."  />
                            </hbox> 
                            <textbox value="@bind(fx.vaui_admi)" constraint="no empty" width="400px" style="font-size:11px;text-align:center;height: 20px;" />
                        </row>
                    </rows>
                </grid>
            </panelchildren>
        </panel>
        <separator />
        <div align="center">
            <button id="submit" image="/images/ok.png" label="Guardar" mold="trendy" onClick="@command('save')" style="width: 110px;height: 31px;" />
        </div>
        <!--<div align="left">
            <button id="backup" image="/images/ok.png" label="Backup" mold="trendy" onClick="@command('BackupSisTra')" style="width: 110px;height: 31px;" />
        </div>-->
        <separator />
    </window>  
</zk>
