<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns="http://www.zkoss.org/2005/zul">

    
    <window style="margin: 0 auto;" title="Tipo de Resoluciones" border="normal"
            width="70%"  height="auto" apply="org.zkoss.bind.BindComposer"  
            viewModel="@id('vm_tp') @init('com.marjuv.controller.win.TipoResolucionControllerMain')" sclass="mymodal" >
        <div>
            <combobox model="@load(vm_tp.listBusqueda)" autodrop="true" readonly="true"   
                      selectedItem="@bind(vm_tp.curBusqueda)" width="250px">
                <template name="model" var="h">
                    <comboitem value="${h.x}" label="${h.y}" />
                </template>
            </combobox>
            <textbox instant="true" cols="45" value="@bind(vm_tp.nombre)" onOK="@command('changeFilter')"></textbox>
            <button image="/images/search2.png" label="Buscar" mold="trendy" onClick="@command('changeFilter')" />
            <button image="/images/add.png" label="Agregar Nuevo" sclass="mybutton blue small bigrounded" mold="trendy"
                    onClick="@command('newTipoResolucion')" />
        </div>
        <separator />
        <listbox sclass="mylist" id="test" model="@load(vm_tp.listaTR)" nonselectableTags=""
                 selectedItem="@bind(vm_tp.beanTipoResolucion)" mold="paging" pageSize="10" >
            <listhead sizable="true">
                <listheader label="Accion"  align="center" width="200px" style="font-size: 11px"/>
                <listheader label="Codigo" align="center" width="100px" style="font-size: 11px"/>
                <listheader label="Nombre" align="center" width="560px"  style="font-size: 11px"/>
                
            </listhead>
            <template name="model" var="p1">
                <listitem >
                    <listcell>
                        <hbox spacing="10px">
                            <button image="/images/edit.png" label="Editar" mold="trendy" onClick="@command('editTipoResolucion')" style="font-size: 10px; width: 80px;" />
                            <button image="/images/delete.png" label="Eliminar" mold="trendy" onClick="@command('deleteTipoResolucion')" style="font-size: 10px; width: 80px;" />
                        </hbox>
                    </listcell>
                    <listcell label="@load(p1.codi_tire)" style="font-size: 11px"/>
                    <listcell label="@load(p1.desc_tire)" style="font-size: 11px"/>
                </listitem>
            </template>
        </listbox>
    </window>
</zk>
