<?xml version="1.0" encoding="UTF-8"?>
<zk xmlns="http://www.zkoss.org/2005/zul">
    <style>
        .error{
            color: red;
            font-style: oblique;
        }
    </style>
    <window title="Mantenimiento Entidad" border="normal" id="entidad_man"
            width="550px" height="auto" apply="org.zkoss.bind.BindComposer"
            minimizable="false" mode="modal" maximizable="false" closable="true" position="center"
            viewModel="@id('entidad_man') @init('com.marjuv.controller.man.Centidad_man')" 
            form="@id('fx') @load(entidad_man.selectedEntidad) @save(entidad_man.selectedEntidad, before='save') ">
        <panel width="100%">
            <panelchildren style="width: 550px;">
                <grid width="99.5%">
                    <columns>
                        <column label="" width="150px" />
                        <column label="" />
                    </columns>
                    <rows>
                        
                        <row>
                            <hbox>
                                <label value="Departamento" />
                            </hbox>
                            <combobox id="cmbDepartamento" 
                                      selectedItem="@bind(entidad_man.curDepartamento)"
                                      onChange="@command('updateProvincia')" value="@load(entidad_man.curDepartamento.nomb_depa)"
                                      width="300px" model="@load(entidad_man.list_depa)">
                                <template name="model">
                                    <comboitem label="@load(each.nomb_depa)" value="@load(each.codi_depa)"/>
                                </template>
                            </combobox>
                        </row>
                        <row>
                            <hbox>
                                <label value="Provincia" />
                            </hbox>
                            <combobox 
                                id="cmbProvincia" width="300px" model="@load(entidad_man.list_prov)"
                                selectedItem="@bind(entidad_man.curProvincia)"  value="@load(entidad_man.curProvincia.nomb_prov)"
                                onChange="@command('updateDistrito')">
                                <template name="model">
                                    <comboitem label="@load(each.nomb_prov)" value="@load(each.codi_prov)"/>
                                </template>
                            </combobox>
                        </row>
                        <row>
                            <hbox>
                                <label value="Distrito" />
                            </hbox>
                            <combobox id="cmbDistrito" width="300px" model="@load(entidad_man.list_dist)"
                            constraint="no empty" value="@load(entidad_man.curDistrito.nomb_dist)"
                            selectedItem="@bind(entidad_man.curDistrito)">
                                <template name="model">
                                    <comboitem label="@load(each.nomb_dist)" value="@load(each.codi_dist)"/>
                                </template>
                            </combobox>
                        </row>
                        <row>
                            <hbox>
                                <label value="Nombre Entidad" />
                            </hbox>
                            <textbox width="300px" constraint="no empty" value="@bind(fx.nomb_enti)" cols="40" onOK="@command('save')" onChange="self.setValue(self.getValue().toUpperCase().trim());" />
                        </row>
                        <row>
                            <hbox>
                                <label value="Dirección Entidad" />
                            </hbox>
                            <textbox width="300px" constraint="no empty" value="@bind(fx.dire_enti)" cols="40" onOK="@command('save')" onChange="self.setValue(self.getValue().toUpperCase().trim());" />
                        </row>
                    </rows>
                </grid>
            </panelchildren>
        </panel>
        <separator />
        <div align="center">
            <button id="submit" image="/images/ok.png"  label="Guardar" onClick="@command('save')" mold="trendy" />
            <button id="cancel" image="/images/cancelar.png" label="Cancelar" onClick="@command('closeThis')"  mold="trendy"/>
        </div>
        <separator />
    </window>
</zk>
