<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns="http://www.zkoss.org/2005/zul">
    <window title="Finalizar Expediente" border="normal" id="tramitarexpedienteF_man"
            width="580px" height="auto" apply="org.zkoss.bind.BindComposer"
            minimizable="false" mode="modal" maximizable="false" closable="true" position="center"
            viewModel="@id('tramitarexpedienteF_man') @init('com.marjuv.controller.win.CtramitarexpedienteF_man')" 
            form="@id('fx')">
        <panel width="100%">
            <panelchildren>
                <grid width="99.5%">
                    <columns>
                        <column label="" width="150px" />
                        <column label="" width="" />
                    </columns>
                    <rows>
                        <row>
                            <hbox>
                                <label value="Expediente : " />
                            </hbox>
                            <textbox readonly="true" value="@bind(tramitarexpedienteF_man.curExpediente.EXPNUM)"/>
                        </row>
                        <row>
                            <hbox>
                                <label value="Expedientes Vinculados : " />
                            </hbox>
                            <cell>
                                <label style="font-weight:bold;margin-right:10px;" value="@load(tramitarexpedienteF_man.get_total_vinculados())"/>
                            <button image="/images/binoculars.png" label="Detalles" mold="trendy" onClick="@command('ver_expe')" />  
                            </cell>
                        </row>
                        <row>
                            <hbox>
                                <label value="Historial Observacion : " />
                            </hbox>
                            <textbox readonly="true" rows="5" cols="70" value="@bind(tramitarexpedienteF_man.curAObservacion)"/>
                        </row>
                        <row>
                            <hbox>
                                <label value="Motivo Finalización : " />
                            </hbox>
                            <textbox rows="5" cols="70" value="@bind(tramitarexpedienteF_man.curNObservacion)"/>
                        </row>
                        <row>
                            <cell colspan="2" align="center" valign="bottom">
                                <button id="submit" image="/images/ok.png"  label="Finalizar" onClick="@command('save')" mold="trendy" />
                                <button id="cancel" image="/images/cancelar.png" label="Cancelar" onClick="@command('cancelar')"  mold="trendy"/>
                            </cell>
                        </row>
                    </rows>
                </grid>
            </panelchildren>
        </panel>
    </window>
</zk>
